<?xml version="1.0" ?>
<robot name="insert_task_cube2_cover_block4">
  <link name="insert_task_cube2_block4_cover_link">
    <inertial>
      <mass value="0.15"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0.000145" ixy="0.0" ixz="0.0" iyy="0.000145" iyz="0.0" izz="0.000145"/>
    </inertial>
    <collision name="insert_task_cube2_block4__collision">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/insert_task_cube2_block4.dae" scale="2 2 0.16"/>
      </geometry>
    </collision>
    <visual name="insert_task_cube2_block4__visual">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://meshes/insert_task_cube2_block4.dae" scale="2 2 0.16"/>
      </geometry>
      <material name="blockmat">
        <color rgba="0.0 0.0 0.0 1"/>
      </material>
    </visual>
  </link>
</robot>
